<div class="container">

    <div class="text-center py-3">
        <h1>Sales Full Report</h1>
        <hr>
        <p>These is a full report on sales</p>
    </div>

    <div class="bg-warning p-2">
        <p>Number of stocks sold: {{totalstocksold}}</p>
        <p>Worth of stocks sold: {{totalsoldworth}}</p>
        <p>Earnings from stock sold: {{totalsoldearnings}}</p>
        <p>Projection: {{totalsoldearnings-totalsoldworth}}</p>
    </div>

    <!-- Full report -->
    <div class="col-md-8 mx-auto pt-2">

        <div class="sales mt-2">

            <ul *ngFor="let sale of sales">
                <li class="text-bg-secondary p-2">{{sale.clientsname | uppercase}}</li>
                <p><span class="text-primary">Product's name: </span>{{sale.productname}}</p>
                <p><span class="text-primary">Quantity: </span>{{sale.quantity}}</p>
                <p><span class="text-primary">Payment method: </span>{{sale.payment}}</p>
                <p><span class="text-primary">Transaction code: </span>{{sale.transactioncode}}</p>
                <p><span class="text-primary">Total cost:</span> {{sale.clienttotal}}</p>
                <p><span class="text-primary">Buying cost:</span> {{sale.buyingtotal}}</p>
                <p *ngIf="sale.projection > 0"><span class="text-black bg-primary p-2">Projection:</span>
                    {{sale.projection}}</p>
                <p *ngIf="sale.projection < 0"><span class="text-black bg-danger p-2">Projection:</span>
                    {{sale.projection}}</p>
                <p><span class="text-primary">Date: </span>{{sale.createdAt | date}}</p>
            </ul>

        </div>

    </div>

    <hr>
    <!-- Go back to reports button -->
    <button class="btn btn-secondary m-2 btn-rounded" type="button" (click)="backtoreports()"> Back</button>

</div>